.game {
    display: flex;
    padding: 0.3em;
}

.player {
    display: flex;
    margin: 0.5em;
    padding: 0.3em;
}

@media only screen and (min-width: 700px) {
    .player {
        display: inline-flex;
    }
}


@media only screen and (max-width: 530px) {
    .game tr>td:nth-child(1), .player tr>td:nth-child(1) {
        display: none;
    }
    .rank { display: none; }
}



.cards {
    flex-grow: 1;
    line-height: 100%;
    font-size: 5.5em;
}
.game>.cards {
    text-align: center;
}

.cards>span {
    height: 100%;
    display: inline-flex;
    align-items: center;
}




.player_dealer_button>span, .player_current_player>span, .player_you>span {
    display: inline-flex;
    align-items: center;
}

.player_dealer_button {
    flex-grow: 1;
    height: 25%;
    font-size: 1.5em;
    text-align: right;
    /*display: none;*/
}

.player_current_player {
    height: 25%;
    font-size: 1.2em;
    text-align: right;
    /*display: none;*/
}

.player_you {
    height: 25%;
    font-size: 1.5em;
    text-align: right;
    /*display: none;*/
}

.player_winner {
    height: 25%;
    font-size: 1.4em;
    text-align: right;
    /*display: none;*/
}

.action {
    position: fixed;
    bottom: 0.3em;
    padding: 0.3em;
    width: calc(100% - 2em);
    background-color: inherit;
}
body {
    margin-bottom: 9em;
}

.fold { opacity: 0.4; }

.money {
    font-weight: bold;
}
input[name="raise_money"] { width:6em; }
