.game {
    display: flex;
    border: 3px solid goldenrod;
    padding: 0.5em;
}
.player {
    border: 3px solid black;
    margin: 0.8em;
    display: flex;
    padding: 0.5em;
}


@media only screen and (max-width: 420px) {
    .game tr>td:nth-child(1), .player tr>td:nth-child(1) {
        display: none;
        background-color: red;
    }
    .rank { display: none; }
}

.player_info {
    min-width: 5em;
}
@media only screen and (min-width: 420px) {
    .player_info { width: 30%; }
}




.game_cards, .player_cards {
    flex-grow: 1;
    line-height: 100%;
    font-size: 5.5em;
}
.game_cards {
    text-align: center;
}

.game_cards>span, .player_cards>span {
    height: 100%;
    display: inline-flex;
    align-items: center;
}




.player_dealer_button>span, .player_current_player>span, .player_you>span {
    display: inline-flex;
    align-items: center;
    /*width: 100%;*/
    
}

.player_dealer_button {
    flex-grow: 1;
    /*border: 1px solid orange;*/
    height: 33%;
    font-size: 1.5em;
    color: blue;
    text-align: right;
}
.start_round_button {
    background-color: blue;
}

.player_current_player {
    height: 33%;
    font-size: 1.2em;
    text-align: right;
    color: green;
}

.player_you {
    height: 33%;
    font-size: 1.5em;
    text-align: right;
    color: red;
}

.dealer { border: 3px solid blue; }
.you { border: 3px solid red; }
.current_player { background-color: lightgreen; }
.winner { background-color: yellow; }

.fold { opacity: 0.4; }

.♠, .♣ { color: black; }
.♥, .♦ { color: red; }

.money { color: goldenrod; font-weight: bold; }
input[name="raise_money"] { width: 6em; }


/* DARKMODE
html {
    background-color: black;
    color: gray;
}
.game { border: 3px solid darkgoldenrod; }
.player_you { color: darkred; }
.dealer { border: 3px solid darkblue; }
.you { border: 3px solid darkred; }
.current_player { background-color: rgb(30, 60, 30); }
.♠, .♣ { color: gray; }
.♥, .♦ { color: darkred; }

.money { color: darkgoldenrod; font-weight: bold; }
*/
